In [1]:
import pandas as pd
import numpy as np

In [2]:
import allel # ref - https://scikit-allel.readthedocs.io/en/stable/io.html#variant-call-format-vcf

In [3]:
vcf_folder = "../dataset/"
vcf_file_freebayes = "syn5-freebayes.vcf.gz"
vcf_file_mutect = "syn5-mutect2.vcf.gz"
vcf_file_vardict = "syn5-vardict.vcf.gz"
vcf_file_varscan = "syn5-varscan.vcf.gz"

In [4]:
df_freebayes = allel.vcf_to_dataframe(vcf_folder + vcf_file_freebayes)

In [5]:
df_freebayes.head()

  CHROM    POS            ID REF ALT_1 ALT_2 ALT_3        QUAL  FILTER_PASS
0     1  10057             .   A    AC   NaN   NaN   56.900002        False
1     1  10248   rs148908337   A     T   NaN   NaN  178.899994        False
2     1  10255  rs1015259029   A     T   NaN   NaN  193.399994        False
3     1  10260             .   C    CT   NaN   NaN   61.599998        False
4     1  10427             .   A    AC   NaN   NaN   65.199997        False

In [6]:
df_mutect = allel.vcf_to_dataframe(vcf_folder + vcf_file_mutect)
df_mutect.head()

  CHROM     POS            ID REF ALT_1  ALT_2  ALT_3  QUAL  FILTER_PASS
0     1  674456    rs77806715   G     A    NaN    NaN   NaN        False
1     1  726156   rs796779711   T     A    NaN    NaN   NaN        False
2     1  726173             .   G     A    NaN    NaN   NaN        False
3     1  726183  rs1000851233   C     A    NaN    NaN   NaN        False
4     1  726185   rs111203408   T     A    NaN    NaN   NaN        False

In [7]:
df_vardict = allel.vcf_to_dataframe(vcf_folder + vcf_file_vardict)
df_vardict.head()

,CHROM,POS,ID,REF,ALT_1,ALT_2,ALT_3,QUAL,FILTER_PASS
0,1,10248,rs148908337,A,T,NaN,NaN,42.0,False
1,1,10255,rs1015259029,A,T,NaN,NaN,48.0,False
2,1,10404,.,CCCTAACCCTAACCCTAACCCTAA,C,NaN,NaN,35.0,False
3,1,10439,rs112766696,AC,A,NaN,NaN,63.0,False
4,1,10583,rs58108140,G,A,NaN,NaN,67.0,False

In [8]:
df_varscan = allel.vcf_to_dataframe(vcf_folder + vcf_file_varscan)
df_varscan.head()

,CHROM,POS,ID,REF,ALT_1,ALT_2,ALT_3,QUAL,FILTER_PASS
0,1,10150,rs371194064,C,T,NaN,NaN,0.0,False
1,1,10352,rs555500075;rs145072688,T,TA,NaN,NaN,0.0,False
2,1,10427,.,A,AC,NaN,NaN,0.0,False
3,1,10583,rs58108140,G,A,NaN,NaN,0.0,False
4,1,14464,rs546169444,A,T,NaN,NaN,0.0,False

In [9]:
print(f"Real freebayes shape = {df_freebayes.shape}")
print(f"Real Mutect shape = {df_mutect.shape}")
print(f"Real Vardict shape = {df_vardict.shape}")
print(f"Real Varscan shape = {df_varscan.shape}")

Real freebayes shape = (4621247, 9)
Real Mutect shape = (116115, 9)
Real Vardict shape = (4502129, 9)
Real Varscan shape = (4368655, 9)

In [10]:
m1 = pd.merge(df_freebayes, df_mutect, on = ["CHROM", "POS"], how="outer", suffixes = ("_freebayes", "_mutect"))

In [11]:
m1.shape

(4682646, 16)

In [12]:
m2 = pd.merge(m1, df_vardict, on = ["CHROM", "POS"], how="outer")
m2.rename(columns={"ID": "ID_vardict", "REF": "REF_vardict", "ALT_1": "ALT_1_vardict", "ALT_2": "ALT_2_vardict", \
                  "ALT_3": "ALT_3_vardict", "QUAL": "QUAL_vardict", "FILTER_PASS": "FILTER_PASS_vardict"}, inplace=True)

In [13]:
m2.head()

,CHROM,POS,ID_freebayes,REF_freebayes,ALT_1_freebayes,ALT_2_freebayes,ALT_3_freebayes,QUAL_freebayes,FILTER_PASS_freebayes,ID_mutect,...,ALT_3_mutect,QUAL_mutect,FILTER_PASS_mutect,ID_vardict,REF_vardict,ALT_1_vardict,ALT_2_vardict,ALT_3_vardict,QUAL_vardict,FILTER_PASS_vardict
0,1,10057,.,A,AC,NaN,NaN,56.900002,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,10248,rs148908337,A,T,NaN,NaN,178.899994,False,NaN,...,NaN,NaN,NaN,rs148908337,A,T,NaN,NaN,42.0,False
2,1,10255,rs1015259029,A,T,NaN,NaN,193.399994,False,NaN,...,NaN,NaN,NaN,rs1015259029,A,T,NaN,NaN,48.0,False
3,1,10260,.,C,CT,NaN,NaN,61.599998,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,10427,.,A,AC,NaN,NaN,65.199997,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
m2.shape

(4867809, 23)

In [15]:
m3 = pd.merge(m2, df_varscan, on = ["CHROM", "POS"], how="outer")
m3.rename(columns={"ID": "ID_varscan", "REF": "REF_varscan", "ALT_1": "ALT_1_varscan", "ALT_2": "ALT_2_varscan", \
                  "ALT_3": "ALT_3_varscan", "QUAL": "QUAL_varscan", "FILTER_PASS": "FILTER_PASS_varscan"}, inplace=True)
m3.shape

(4977710, 30)

In [16]:
m3.head()

,CHROM,POS,ID_freebayes,REF_freebayes,ALT_1_freebayes,ALT_2_freebayes,ALT_3_freebayes,QUAL_freebayes,FILTER_PASS_freebayes,ID_mutect,...,ALT_3_vardict,QUAL_vardict,FILTER_PASS_vardict,ID_varscan,REF_varscan,ALT_1_varscan,ALT_2_varscan,ALT_3_varscan,QUAL_varscan,FILTER_PASS_varscan
0,1,10057,.,A,AC,NaN,NaN,56.900002,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,10248,rs148908337,A,T,NaN,NaN,178.899994,False,NaN,...,NaN,42.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,10255,rs1015259029,A,T,NaN,NaN,193.399994,False,NaN,...,NaN,48.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,10260,.,C,CT,NaN,NaN,61.599998,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,10427,.,A,AC,NaN,NaN,65.199997,False,NaN,...,NaN,NaN,NaN,.,A,AC,NaN,NaN,0.0,False

In [17]:
m3.head()[["CHROM", "POS", "FILTER_PASS_freebayes", "FILTER_PASS_mutect", "FILTER_PASS_vardict", "FILTER_PASS_varscan"]]

,CHROM,POS,FILTER_PASS_freebayes,FILTER_PASS_mutect,FILTER_PASS_vardict,FILTER_PASS_varscan
0,1,10057,False,NaN,NaN,NaN
1,1,10248,False,NaN,False,NaN
2,1,10255,False,NaN,False,NaN
3,1,10260,False,NaN,NaN,NaN
4,1,10427,False,NaN,NaN,False

In [18]:
df_merged = m3

In [19]:
# add third category instead of False?
df_merged["FILTER_PASS_freebayes"].fillna(False, inplace=True)
df_merged["FILTER_PASS_vardict"].fillna(False, inplace=True)
df_merged["FILTER_PASS_mutect"].fillna(False, inplace=True)
df_merged["FILTER_PASS_varscan"].fillna(False, inplace=True)
df_merged.head()[["CHROM", "POS", "FILTER_PASS_freebayes", "FILTER_PASS_mutect", "FILTER_PASS_vardict", "FILTER_PASS_varscan"]]

,CHROM,POS,FILTER_PASS_freebayes,FILTER_PASS_mutect,FILTER_PASS_vardict,FILTER_PASS_varscan
0,1,10057,False,False,False,False
1,1,10248,False,False,False,False
2,1,10255,False,False,False,False
3,1,10260,False,False,False,False
4,1,10427,False,False,False,False

In [20]:
truth = pd.read_csv(vcf_folder + "syn5_truth.bed", sep = "\t", header = None)
truth.columns = ["CHROM", "POS_START", "POS_END"]
truth.head()

  CHROM  POS_START  POS_END
0     1     752211   752211
1     1     824652   824652
2     1     917467   917467
3     1    1016648  1016648
4     1    1038806  1038806

In [21]:
(truth.POS_START == truth.POS_END).sum()

45383

In [22]:
truth.shape

(45383, 3)

In [23]:
truth.merge(df_merged, left_on = ["CHROM", "POS_START"], right_on = ["CHROM", "POS"])
# this is smaller than the actual truth file indicating the all 4 variant callers missed to classify some true variants

,CHROM,POS_START,POS_END,POS,ID_freebayes,REF_freebayes,ALT_1_freebayes,ALT_2_freebayes,ALT_3_freebayes,QUAL_freebayes,...,ALT_3_vardict,QUAL_vardict,FILTER_PASS_vardict,ID_varscan,REF_varscan,ALT_1_varscan,ALT_2_varscan,ALT_3_varscan,QUAL_varscan,FILTER_PASS_varscan
0,1,752211,752211,752211,.,G,C,NaN,NaN,11.400000,...,NaN,70.0,True,.,G,C,NaN,NaN,0.0,True
1,1,824652,824652,824652,.,T,A,NaN,NaN,321.100006,...,NaN,131.0,True,.,T,A,NaN,NaN,0.0,True
2,1,917467,917467,917467,.,G,T,NaN,NaN,32.099998,...,NaN,35.0,False,.,G,T,NaN,NaN,0.0,True
3,1,1016648,1016648,1016648,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,34.0,False,NaN,NaN,NaN,NaN,NaN,NaN,False
4,1,1038806,1038806,1038806,.,G,T,NaN,NaN,245.500000,...,NaN,120.0,True,.,G,T,NaN,NaN,0.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45089,Y,28483053,28483053,28483053,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,33.0,False,.,A,C,NaN,NaN,0.0,True
45090,Y,28656099,28656099,28656099,.,G,C,NaN,NaN,116.400002,...,NaN,108.0,True,.,G,C,NaN,NaN,0.0,False
45091,Y,28713794,28713794,28713794,.,A,T,NaN,NaN,143.699997,...,NaN,119.0,True,.,A,T,NaN,NaN,0.0,False
45092,Y,28762270,28762270,28762270,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,81.0,True,.,A,C,NaN,NaN,0.0,False
45093,Y,28813491,28813491,28813491,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,.,A,C,NaN,NaN,0.0,False

In [24]:
df_merged_with_truth = pd.merge(truth, df_merged, left_on=["CHROM", "POS_START"], right_on = ["CHROM", "POS"], how="outer")
df_merged_with_truth.head()

,CHROM,POS_START,POS_END,POS,ID_freebayes,REF_freebayes,ALT_1_freebayes,ALT_2_freebayes,ALT_3_freebayes,QUAL_freebayes,...,ALT_3_vardict,QUAL_vardict,FILTER_PASS_vardict,ID_varscan,REF_varscan,ALT_1_varscan,ALT_2_varscan,ALT_3_varscan,QUAL_varscan,FILTER_PASS_varscan
0,1,752211.0,752211.0,752211.0,.,G,C,NaN,NaN,11.400000,...,NaN,70.0,True,.,G,C,NaN,NaN,0.0,True
1,1,824652.0,824652.0,824652.0,.,T,A,NaN,NaN,321.100006,...,NaN,131.0,True,.,T,A,NaN,NaN,0.0,True
2,1,917467.0,917467.0,917467.0,.,G,T,NaN,NaN,32.099998,...,NaN,35.0,False,.,G,T,NaN,NaN,0.0,True
3,1,1016648.0,1016648.0,1016648.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,34.0,False,NaN,NaN,NaN,NaN,NaN,NaN,False
4,1,1038806.0,1038806.0,1038806.0,.,G,T,NaN,NaN,245.500000,...,NaN,120.0,True,.,G,T,NaN,NaN,0.0,True

In [25]:
df_merged_with_truth.shape

(4977999, 32)

In [26]:
def set_true_label(row):
    if str(row) == "nan":
        return False
    else:
        return True

In [27]:
df_merged_with_truth["truth"] = df_merged_with_truth["POS_START"].apply(lambda row:set_true_label(row))
df_merged_with_truth.sum()

CHROM                    1111111111111111111111111111111111111111111111...
POS_START                                                  3679981132421.0
POS_END                                                    3679981132421.0
POS                                                      381301210632714.0
QUAL_freebayes                                                4621751808.0
FILTER_PASS_freebayes                                                52954
ALT_2_mutect                                                           0.0
ALT_3_mutect                                                           0.0
QUAL_mutect                                                            0.0
FILTER_PASS_mutect                                                   60046
ALT_2_vardict                                                          0.0
ALT_3_vardict                                                          0.0
QUAL_vardict                                                   598664512.0
FILTER_PASS_vardict                                                  58637
ALT_2_varscan                                                          0.0
ALT_3_varscan                                                          0.0
QUAL_varscan                                                           0.0
FILTER_PASS_varscan                                                  33941
truth                                                                45383
dtype: object

In [28]:
def decide_prediction(row):
    if row["FILTER_PASS_freebayes"] + row["FILTER_PASS_mutect"] + row["FILTER_PASS_vardict"] + row["FILTER_PASS_varscan"] >= 2:
        return True
    else:
        return False

In [29]:
df_merged_with_truth["preds"] = df_merged_with_truth.apply(lambda row: decide_prediction(row), axis = 1)

In [30]:
df_merged_with_truth["preds"].sum()

59098

In [31]:
extras_in_truth = df_merged_with_truth[df_merged_with_truth.POS.isna()].index

In [32]:
df_merged_with_truth.drop(extras_in_truth, inplace=True)

In [ ]:
def predict_label_three_best(row):
    if row["FILTER_PASS_mutect"] == False:
        return False
    if row["FILTER_PASS_freebayes"] + row["FILTER_PASS_vardict"] + row["FILTER_PASS_varscan"] >= 2:
        return True
    return False
df_merged_with_truth["three_best_mutect_true"] = df_merged_with_truth[["FILTER_PASS_freebayes", "FILTER_PASS_mutect", "FILTER_PASS_vardict", "FILTER_PASS_varscan"]].apply(predict_label_three_best, axis = 1)

In [33]:
from sklearn.metrics import f1_score, precision_score, recall_score
print(f'F1 score = {f1_score(df_merged_with_truth["truth"], df_merged_with_truth["preds"])}')
print(f'Precision = {precision_score(df_merged_with_truth["truth"], df_merged_with_truth["preds"])}')
print(f'Recall = {recall_score(df_merged_with_truth["truth"], df_merged_with_truth["preds"])}')

F1 score = 0.8426942567567568
Precision = 0.7428508578970524
Recall = 0.9735441522153724

In [34]:
from sklearn.metrics import classification_report
print(classification_report(df_merged_with_truth["truth"], df_merged_with_truth["preds"]))

              precision    recall  f1-score   support

       False       1.00      1.00      1.00   4932616
        True       0.74      0.97      0.84     45094

    accuracy                           1.00   4977710
   macro avg       0.87      0.99      0.92   4977710
weighted avg       1.00      1.00      1.00   4977710

In [ ]:
print(classification_report(df_merged_with_truth["truth"], df_merged_with_truth["three_best_mutect_true"]))